@font-face {
  font-family: CircularStd;
  src: url("fonts/CircularStd-Light.otf") format("opentype");
}

body {
  margin: 0;
  font-family: CircularStd, sans-serif;
  src: url("fonts/CircularStd-Light.otf") format("opentype");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::selection {
  background: rgb(126, 166, 156, 0.6);
}
